.con{
    display: flex;
    width: 40%;
    height: 60vh;
    flex-wrap: wrap;
    border: 5px solid rgb(7, 242, 54);
    align-items: center;
    box-shadow: 0 0 10px 10px rgb(139, 194, 29);
    transition: transform .4s; 
 }
 .con:hover{
    transform: scale(1.1);
 }
.img{
    width: 100px;
    height: 100px;
}
.img img{
    width: 100%;
    height: 100%;
    margin-left: 200%;
    margin-top: 15%;
    transition: transform .1s;
}
.img img:hover{
    transform: scale(1.2);
}
.id{
    margin-top: -5%;
    margin-left: -10%;
    font-size: 20px;
    font-weight:200;
    color: rgb(191, 24, 57);
    transition: transform .2s;
}
.id:hover{
    transform: scale(0.9);
}
.title{
    width: 80%;
    padding-left: 10%;
    margin-top: 2%;
    font-size: 20px;
    font-weight:200;
    color: rgb(43, 11, 224);
    transition: transform .2s;
}
.title:hover{
    transform: scale(0.9);
}
.price{
    padding-left: 75%;
    margin-top: -70%;
    font-size: 20px;
    font-weight:200;
    color: rgb(191, 24, 57);
    transition: transform .2s;
}
.price:hover{
    transform: scale(0.9);
}
.descripion{
    width: 80%;
    padding-left: 10%;
    margin-top: -20%;
    font-size: 20px;
    font-weight:200;
    color: rgb(43, 11, 224);
    transition: transform .2s;
}
.descripion:hover{
    transform: scale(0.9);
}
.category{
    width: 80%;
    padding-left: 10%;
    margin-top: -20%;
    font-size: 20px;
    font-weight:200;
    color: rgb(43, 11, 224);
    transition: transform .2s;
}
.category:hover{
    transform: scale(0.9);
}
.Rating{
    width: 80%;
    padding-left: 10%;
    margin-top: -20%;
    font-size: 20px;
    font-weight:200;
    color: rgb(43, 11, 224);
    transition: transform .2s;
}
.Rating:hover{
    transform: scale(0.9);
}
.ADDCart{
    width: 30%;
    height: 30px;
    margin-left: 30%;
    margin-top: -10%;
    background-color: rgb(13, 23, 3);
    color: aliceblue;
    transition: transform .2s;
    border-radius: 15px;
}
.ADDCart:hover{
    background-color: chartreuse;
    color: rgb(234, 165, 16);
    transform: scale(1.1);
}
.buttons{
    margin-left: 80px;
    margin-top: -60px;
}
.dec{
   
   width: 22px;
    background-color: rgb(13, 23, 3);
    color: aliceblue;
    transition: transform .2s;
    border-radius: 5px;
}
.dec:hover{
    background-color: chartreuse;
    color: rgb(234, 165, 16);
    transform: scale(1.1);
}
.inc{
    background-color: rgb(13, 23, 3);
    color: aliceblue;
    transition: transform .2s;
    border-radius: 5px;

}
.inc:hover{
    background-color: chartreuse;
    color: rgb(234, 165, 16);
    transform: scale(1.1);
}
.delete{
    width: 30%;
    height: 30px;
    margin-left: 30%;
    margin-top: -10%;
    background-color: rgb(13, 23, 3);
    color: aliceblue;
    transition: transform .2s;
    border-radius: 15px;
}
.delete:hover{
    background-color: chartreuse;
    color: rgb(234, 165, 16);
    transform: scale(1.1);
}


