.navbar{
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(119, 65, 163);
    align-items: center;
    justify-content: space-evenly;
 
}
a{
    color:  rgb(7, 233, 26);
    font-size: large;
}
